source "Kconfig.zephyr"

menu "Zephyr Practice"

config CUSTOM_CONFIG
	bool "use custom board config"
	default n

config SMALL_CAR
	bool "car config"
	select USE_STM32_LL_UTILS
	select USE_STM32_LL_GPIO
	select USE_STM32_LL_TIM
	select USE_STM32_LL_USART

if SMALL_CAR

config SMALL_CAR_ENCODER_NAME
	string "small car encoder name"
	default "small_car_encoder"

config SMALL_CAR_ENCODER_PSC
	int "small car encoder psc"
	default 0

config SMALL_CAR_ENCODER_ARR
	int "small car encoder arr"
	default 10799

endif # SMALL_CAR

config TEST_SPI_PI
	bool "spi slave device connect to raspi"
	default n
	
config TEST_BME280
	bool "spi slave device connect to raspi"
	default n
	
config TEST_GPIO
	bool "test gpio"
	default n

endmenu

config LOG_STRDUP_BUF_COUNT
	default 128
	